 <div class="user-details">
  <h1> About me! </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Developing</h2>
    <p>I love creating websites, bots and more. </p>
    <p> I have been coding and developing things for 2 years. </p>
    <p> I use coding languages such as Javascript, Java, Golang, HTML, CSS, and React. </p>
    </div>
      <div class="tech">
      <h2>Digital Media</h2>
      <p>I love taking pictures and making online art, Using differnet softwares.</p>
      <p>You can find some digital art I have made <a href="https://bean.wtf/#projects">here!</a></p>
    </div>
</div>
