 <div class="user-details">
  <h1> About me! </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Developing</h2>
     <p>I love creating websites, bots and more. I have been coding and developing things for 2 years. I use coding languages such as Javascript, Java, Golang, HTML, CSS, and React.</p>
    </div>
      <div class="tech">
      <h2>Digital Media</h2>
      <p>I like making digital art and also taking picutures.</p>
    </div>
</div>
